@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
  .video {
    /* max-width: 100%; */
    width:100%;
    height: auto;
    position: absolute;
    /* 영상 좌우 반전 */
    -webkit-transform:rotateY(180deg);

  }

  .draggable{
    cursor: move;
  }

  .video-controls{
    position: absolute;
    height: auto;
  }

  #svg1{
    position: absolute;
    width:100%;
    height: auto;
    z-index: 1000;
    cursor: crosshair;
  }

  #readout{
    /* position: absolute; */
    font-size: 30px;
    font-weight: bold;
    margin: 7px;
  }

  #input1 {
    width: 300px;
      height: 50px;
      padding: 8px;
      margin-left: 2px;
  }
