@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
  .video {
    /* max-width: 100%; */
    width:100%;
    height: auto;
    position: absolute;
    /* 영상 좌우 반전 */
    -webkit-transform:rotateY(180deg);

  }

  .draggable{
    cursor: move;
  }

  .video-controls{
    position: absolute;
    height: auto;
  }


  button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5rem 1rem;
    background-color:#8fbcff ;
    --button-hover-bg-color: #4193ff;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;

    display: inline-block;
    width: auto;

    border: none;
    border-radius: 4px;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
  }

  button:active,
  button:hover,
  button:focus {
    background: var(--button-hover-bg-color);
    outline: 0;
  }
  button:disabled {
    opacity: 0.5;
  }
  
  #svg1{
    position: absolute;
    width:100%;
    height: auto;
    z-index: 100;
    cursor: crosshair;
  }

  #readout{
    /* position: absolute; */
    font-size: 30px;
    font-weight: bold;
    margin: 7px;
  }

  #table{
    position:absolute;
    
  }

  #input1 {
    width: 300px;
      height: 50px;
      padding: 8px;
      margin-left: 2px;
  }

